<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div style="display:none">
      <%= page.path.split('/')[0].split('.')[0] %> header.ejs文件不能用page 只能外面传参数？？？
    </div>
    <div id="wrap">
      <%- partial('_partial/header', {currentPage: page.path.split('/')[0].split('.')[0]}) %>
      <div class="outer wrapper">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
